<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>820195960534-9v0rph2gogaaafuuarcsvkuiddn80he2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.820195960534-9v0rph2gogaaafuuarcsvkuiddn80he2</string>
	<key>API_KEY</key>
	<string>AIzaSyBmzyEORhRBcVycbhXZvoGcxd5xYkH5EkE</string>
	<key>GCM_SENDER_ID</key>
	<string>820195960534</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gb.GBShop</string>
	<key>PROJECT_ID</key>
	<string>gbshop-3f265</string>
	<key>STORAGE_BUCKET</key>
	<string>gbshop-3f265.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:820195960534:ios:d4d8ab98ab589b14140b77</string>
</dict>
</plist>